.form-login {
  width: 50%;
  margin: auto;
  margin-top: 5%;
}
.login-Form {
  line-height: 2;
  word-spacing: 0cm;
  align-items: center;
  margin: auto;
  line-height: 1;
}

.login-Form label {
  display: inline-block;
  margin-left: 25%;
  width: 100%;
  color: rgb(255, 255, 255);
  text-align: left;
}

.login-Form input {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  width: 50%;
  height: 50px;
}
.form-login div {
  line-height: 2;
}
.mainContainer-login p {
  color: rgb(255, 255, 255);
}
