.quickLink {
  font-size: 16px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  margin-left: -69%;
  color: rgb(100, 100, 100);
}

.footer {
  width: 60%;
  margin-left: 9.5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer li a {
  display: grid;
  text-align: left;
  line-height: 2;
  letter-spacing: 0.01cm;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: rgb(100, 100, 100);
  font-size: 16px;
}

@media screen and (max-width: 480px) {
  .quickLink {
    font-size: 16px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin-left: -28%;
    color: rgb(100, 100, 100);
  }

  .footer {
    width: 60%;
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .footer li a {
    display: grid;
    text-align: left;
    line-height: 2;
    letter-spacing: 0.01cm;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: rgb(100, 100, 100);
    font-size: 16px;
  }
}
