.mainContainerForAddMovie {
  /* background-image: url("https://th.bing.com/th/id/OIP.fxMsrKMxghOrWSLmXwY92AHaHa?rs=1&pid=ImgDetMain"); */
  /* background-size: cover;
  background-repeat: no-repeat; */

  background-color: rgb(24, 24, 24);
  width: 100%;
  height: 100vh;
}

.addMovieDiv {
  justify-content: center;
  text-align: left;
  margin: auto;
  margin-top: 10%;
  width: 40%;
  color: #74252a;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
  border-radius: 6px;
}

.addMovieDiv input {
  width: 20rem;
  height: 50px;
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  width: 100%;
  display: inline-block;
  text-decoration: solid;
  font-size: 18px;
  color: rgb(255, 255, 255);
}

.form-group input {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  box-sizing: border-box;
}

.addMovieBtn {
  background-color: rgb(227, 8, 19);
  border: 2px solid rgb(227, 8, 19);
  width: 10%;
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;

  font-size: 16px;
  max-height: 40px;
  border-radius: 3px;
}

@media screen and (max-width: 480px) {
  .mainContainerForAddMovie {
    /* background-image: url("https://th.bing.com/th/id/OIP.fxMsrKMxghOrWSLmXwY92AHaHa?rs=1&pid=ImgDetMain"); */
    /* background-size: cover;
    background-repeat: no-repeat; */

    background-color: rgb(24, 24, 24);
    width: 100%;
    height: 100vh;
  }

  .addMovieDiv {
    justify-content: center;
    text-align: left;
    margin: auto;
    margin-top: 10%;
    width: 70%;
    color: #74252a;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
    border-radius: 6px;
  }

  .addMovieDiv input {
    width: 30rem;
    height: 50px;
  }

  .form-group {
    margin-bottom: 10px;
  }

  .form-group label {
    width: 100%;
    display: inline-block;
    text-decoration: solid;
    font-size: 18px;
    color: rgb(255, 255, 255);
  }

  .form-group input {
    width: 100%;
    height: 50px;
  }

  .addMovieBtn {
    background-color: rgb(227, 8, 19);
    border: 2px solid rgb(227, 8, 19);
    width: 30%;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    max-height: 40px;
    border-radius: 3px;
  }
}
