.listMainDiv {
  justify-self: center;
  margin-left: 10%;
}

.listToBeDisplayed {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: left;
  margin: auto;
}

@media screen and (max-width: 480px) {
  .listToBeDisplayed {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-left: 2%;
  }
}
